{
    "openapi": "3.0.0",
    "info": {
        "title": "Koumbaya Marketplace API",
        "description": "API REST pour la marketplace Koumbaya avec système de tombolas et paiements mobile money",
        "contact": {
            "name": "Équipe Koumbaya",
            "email": "dev@koumbaya.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://koumbaya.com",
            "description": "Serveur de développement Koumbaya"
        }
    ],
    "paths": {
        "/api/admin/lotteries": {
            "get": {
                "tags": [
                    "Admin Lotteries"
                ],
                "summary": "Liste paginée de toutes les tombolas avec filtres",
                "operationId": "a74a64ac771ced95da89a90b962fc612",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filtrer par statut (active, completed, cancelled)",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "active",
                                "completed",
                                "cancelled"
                            ]
                        }
                    },
                    {
                        "name": "is_drawn",
                        "in": "query",
                        "description": "Filtrer par état de tirage",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Recherche par numéro de tombola ou titre de produit",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date_from",
                        "in": "query",
                        "description": "Filtrer à partir de cette date",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "date_to",
                        "in": "query",
                        "description": "Filtrer jusqu'à cette date",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Champ de tri",
                        "schema": {
                            "type": "string",
                            "default": "created_at"
                        }
                    },
                    {
                        "name": "sort_order",
                        "in": "query",
                        "description": "Ordre de tri",
                        "schema": {
                            "type": "string",
                            "default": "desc",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Nombre d'éléments par page",
                        "schema": {
                            "type": "integer",
                            "default": 20
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Liste des tombolas avec pagination",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "current_page": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "total": {
                                            "type": "integer"
                                        },
                                        "per_page": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Accès non autorisé"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/admin/lotteries/statistics": {
            "get": {
                "tags": [
                    "Admin Lotteries"
                ],
                "summary": "Statistiques globales des tombolas",
                "operationId": "640b9d6c1189f59c224970d7dc90c9a2",
                "responses": {
                    "200": {
                        "description": "Statistiques des tombolas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "total_lotteries": {
                                            "description": "Nombre total de tombolas",
                                            "type": "integer"
                                        },
                                        "active_lotteries": {
                                            "description": "Nombre de tombolas actives",
                                            "type": "integer"
                                        },
                                        "completed_lotteries": {
                                            "description": "Nombre de tombolas terminées",
                                            "type": "integer"
                                        },
                                        "pending_draws": {
                                            "description": "Nombre de tirages en attente",
                                            "type": "integer"
                                        },
                                        "total_revenue": {
                                            "description": "Revenus totaux",
                                            "type": "number"
                                        },
                                        "total_participants": {
                                            "description": "Nombre total de participants uniques",
                                            "type": "integer"
                                        },
                                        "average_participation_rate": {
                                            "description": "Taux de participation moyen en %",
                                            "type": "number"
                                        },
                                        "recent_draws": {
                                            "description": "10 derniers tirages effectués",
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "monthly_revenue": {
                                            "description": "Revenus mensuels des 12 derniers mois",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "month": {
                                                        "type": "string",
                                                        "example": "2024-01"
                                                    },
                                                    "revenue": {
                                                        "type": "number"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Accès non autorisé"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/admin/lotteries/{id}": {
            "get": {
                "tags": [
                    "Admin Lotteries"
                ],
                "summary": "Détails complets d'une tombola",
                "operationId": "54b21f789380506eab20d6869120dab0",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la tombola",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Détails de la tombola avec participants et historique",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Tombola non trouvée"
                    },
                    "403": {
                        "description": "Accès non autorisé"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Admin Lotteries"
                ],
                "summary": "Mettre à jour les paramètres d'une tombola",
                "operationId": "837761854a6793ea701d7f08857224ae",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la tombola",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "end_date": {
                                        "description": "Nouvelle date de fin",
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "draw_date": {
                                        "description": "Nouvelle date de tirage",
                                        "type": "string",
                                        "format": "date-time"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Tombola mise à jour avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "lottery": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Impossible de mettre à jour une tombola tirée ou erreur de validation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Tombola non trouvée"
                    },
                    "403": {
                        "description": "Accès non autorisé"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/admin/lotteries/{id}/draw": {
            "post": {
                "tags": [
                    "Admin Lotteries"
                ],
                "summary": "Déclencher un tirage manuel",
                "operationId": "0adf92e8e9ff411ebe455fba3b01dcc7",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la tombola",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tirage effectué avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "winner": {
                                            "type": "object"
                                        },
                                        "draw_history": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erreur lors du tirage",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Tombola non trouvée"
                    },
                    "403": {
                        "description": "Accès non autorisé"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/admin/lotteries/eligible-for-draw": {
            "get": {
                "tags": [
                    "Admin Lotteries"
                ],
                "summary": "Liste des tombolas éligibles pour un tirage",
                "operationId": "f4086cf1c00a7ad6f7770e5ee4e8ec4a",
                "responses": {
                    "200": {
                        "description": "Liste des tombolas prêtes pour le tirage",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "count": {
                                            "description": "Nombre de tombolas éligibles",
                                            "type": "integer"
                                        },
                                        "lotteries": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "lottery_number": {
                                                        "type": "string"
                                                    },
                                                    "product": {
                                                        "type": "string"
                                                    },
                                                    "end_date": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "days_since_end": {
                                                        "type": "integer"
                                                    },
                                                    "participants": {
                                                        "type": "integer"
                                                    },
                                                    "min_participants": {
                                                        "type": "integer"
                                                    },
                                                    "revenue": {
                                                        "type": "number"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Accès non autorisé"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/admin/lotteries/batch-draw": {
            "post": {
                "tags": [
                    "Admin Lotteries"
                ],
                "summary": "Effectuer plusieurs tirages en lot",
                "operationId": "3d424aecb1872235a6a60a8d817aac54",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "lottery_ids": {
                                        "description": "Liste des IDs de tombolas à tirer",
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Résultats des tirages en lot",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "summary": {
                                            "properties": {
                                                "total": {
                                                    "type": "integer"
                                                },
                                                "success": {
                                                    "type": "integer"
                                                },
                                                "failed": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "lottery_id": {
                                                        "type": "integer"
                                                    },
                                                    "lottery_number": {
                                                        "type": "string"
                                                    },
                                                    "success": {
                                                        "type": "boolean"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erreur de validation"
                    },
                    "403": {
                        "description": "Accès non autorisé"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/admin/lotteries/{id}/cancel": {
            "post": {
                "tags": [
                    "Admin Lotteries"
                ],
                "summary": "Annuler une tombola et initier les remboursements",
                "operationId": "2879c9c7e28ff306247f34c348264a14",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la tombola",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "reason": {
                                        "description": "Raison de l'annulation",
                                        "type": "string",
                                        "maxLength": 500
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Tombola annulée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "affected_users": {
                                            "description": "Nombre d'utilisateurs affectés",
                                            "type": "integer"
                                        },
                                        "refunds_initiated": {
                                            "description": "Nombre de remboursements initiés",
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Impossible d'annuler une tombola tirée",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur lors de l'annulation"
                    },
                    "404": {
                        "description": "Tombola non trouvée"
                    },
                    "403": {
                        "description": "Accès non autorisé"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/admin/lotteries/{id}/export": {
            "get": {
                "tags": [
                    "Admin Lotteries"
                ],
                "summary": "Exporter les données d'une tombola",
                "operationId": "6ac5f4e75b146ed2eda15b6243be40fa",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la tombola",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Données de la tombola pour export",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "lottery": {
                                            "type": "object"
                                        },
                                        "participants": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "ticket_number": {
                                                        "type": "string"
                                                    },
                                                    "user_name": {
                                                        "type": "string"
                                                    },
                                                    "user_email": {
                                                        "type": "string"
                                                    },
                                                    "user_phone": {
                                                        "type": "string"
                                                    },
                                                    "purchased_at": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "is_winner": {
                                                        "type": "boolean"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Tombola non trouvée"
                    },
                    "403": {
                        "description": "Accès non autorisé"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/admin/refunds": {
            "get": {
                "tags": [
                    "Admin Refunds"
                ],
                "summary": "Liste administrative des remboursements",
                "operationId": "739d8903691cc1f9ac7c19d677eb1794",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filtrer par statut",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Filtrer par type",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "automatic",
                                "manual",
                                "admin"
                            ]
                        }
                    },
                    {
                        "name": "reason",
                        "in": "query",
                        "description": "Filtrer par raison",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Nombre de remboursements",
                        "schema": {
                            "type": "integer",
                            "default": 50
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Liste des remboursements"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/admin/refunds/stats": {
            "get": {
                "tags": [
                    "Admin Refunds"
                ],
                "summary": "Statistiques administratives des remboursements",
                "operationId": "c05ed884d40eb8a8dd7ae1b9f30a561f",
                "responses": {
                    "200": {
                        "description": "Statistiques complètes"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/admin/refunds/{id}/approve": {
            "post": {
                "tags": [
                    "Admin Refunds"
                ],
                "summary": "Approuver un remboursement",
                "operationId": "ff3d6cd7b020211f213754567af9d4d9",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID du remboursement",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "notes": {
                                        "description": "Notes d'approbation",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Remboursement approuvé"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/admin/refunds/{id}/reject": {
            "post": {
                "tags": [
                    "Admin Refunds"
                ],
                "summary": "Rejeter un remboursement",
                "operationId": "b2dd83d945a17decc64679c8bc1284e9",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID du remboursement",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "reason": {
                                        "description": "Raison du rejet",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Remboursement rejeté"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/admin/refunds/process-automatic": {
            "post": {
                "tags": [
                    "Admin Refunds"
                ],
                "summary": "Traiter les remboursements automatiques",
                "operationId": "432ee11566839a18fb6bf3172d4eafc8",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "lottery_id": {
                                        "description": "ID de la tombola (optionnel)",
                                        "type": "integer"
                                    },
                                    "dry_run": {
                                        "description": "Mode test",
                                        "type": "boolean",
                                        "default": false
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Remboursements automatiques traités"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/admin/refunds/eligible-lotteries": {
            "get": {
                "tags": [
                    "Admin Refunds"
                ],
                "summary": "Tombolas éligibles aux remboursements",
                "operationId": "80bdf462977cf66bc06c05b9287c963c",
                "responses": {
                    "200": {
                        "description": "Liste des tombolas éligibles"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/auth/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Inscription d'un nouvel utilisateur",
                "operationId": "c7bb21a0d87049e161b8e4c9b0d909f2",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "first_name",
                                    "last_name",
                                    "email",
                                    "phone",
                                    "password",
                                    "role"
                                ],
                                "properties": {
                                    "first_name": {
                                        "type": "string",
                                        "example": "Jean"
                                    },
                                    "last_name": {
                                        "type": "string",
                                        "example": "Dupont"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "jean@example.com"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "+24177123456"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "role": {
                                        "type": "string",
                                        "enum": [
                                            "MERCHANT",
                                            "RESELLER",
                                            "PARTNER"
                                        ],
                                        "example": "MERCHANT"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Utilisateur créé avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Utilisateur créé avec succès"
                                        },
                                        "user": {
                                            "type": "object"
                                        },
                                        "access_token": {
                                            "type": "string"
                                        },
                                        "token_type": {
                                            "type": "string",
                                            "example": "bearer"
                                        },
                                        "expires_in": {
                                            "type": "integer",
                                            "example": 3600
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                }
            }
        },
        "/api/auth/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Connexion d'un utilisateur",
                "operationId": "dd51a484b7fa0f97c7680fdbde14cf5f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "jean@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Connexion réussie",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "access_token": {
                                            "type": "string"
                                        },
                                        "token_type": {
                                            "type": "string",
                                            "example": "bearer"
                                        },
                                        "expires_in": {
                                            "type": "integer",
                                            "example": 3600
                                        },
                                        "user": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Identifiants invalides"
                    }
                }
            }
        },
        "/api/auth/me": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Récupérer les informations de l'utilisateur connecté",
                "operationId": "b5de204f5e452ef51327c691aa99e77c",
                "responses": {
                    "200": {
                        "description": "Informations utilisateur",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "user": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/auth/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Déconnexion de l'utilisateur",
                "operationId": "df9bdc6c7a6d9f20b983526b2ec0f698",
                "responses": {
                    "200": {
                        "description": "Déconnexion réussie",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Déconnexion réussie"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/auth/refresh": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Rafraîchir le token JWT",
                "operationId": "30c20c52f5f72828d8c531fd7c9ea3e7",
                "responses": {
                    "200": {
                        "description": "Token rafraîchi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "access_token": {
                                            "type": "string"
                                        },
                                        "token_type": {
                                            "type": "string",
                                            "example": "bearer"
                                        },
                                        "expires_in": {
                                            "type": "integer",
                                            "example": 3600
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/reset-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Réinitialiser le mot de passe",
                "operationId": "0a6624b616e4ba5a310a61d9f7418c35",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "identifier",
                                    "otp",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "identifier": {
                                        "type": "string",
                                        "example": "user@example.com"
                                    },
                                    "otp": {
                                        "type": "string",
                                        "example": "123456"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "newpassword123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "example": "newpassword123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Mot de passe réinitialisé avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Mot de passe réinitialisé avec succès"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Erreur de validation ou code OTP invalide"
                    },
                    "404": {
                        "description": "Utilisateur non trouvé"
                    }
                }
            }
        },
        "/api/categories": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Lister toutes les catégories",
                "operationId": "ac9c4d978ea4e5b72915ca9728e5b8b1",
                "parameters": [
                    {
                        "name": "parent_only",
                        "in": "query",
                        "description": "Afficher seulement les catégories parentes",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Liste des catégories",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "categories": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/categories/{id}": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Récupérer une catégorie par ID",
                "operationId": "09767bb2e47dde77dd1e2591428b0ae1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la catégorie",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Détails de la catégorie",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "category": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Catégorie non trouvée"
                    }
                }
            }
        },
        "/api/categories/{id}/products": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Récupérer les produits d'une catégorie",
                "operationId": "f5471cad040b47602127693aa34ba309",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la catégorie",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Numéro de page",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Nombre d'éléments par page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 50
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Produits de la catégorie",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "products": {
                                            "type": "object"
                                        },
                                        "category": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/countries": {
            "get": {
                "tags": [
                    "Countries"
                ],
                "summary": "Lister tous les pays",
                "operationId": "bbb90b9e86a9cab92aaa448fe98954c9",
                "parameters": [
                    {
                        "name": "active_only",
                        "in": "query",
                        "description": "Afficher seulement les pays actifs",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Liste des pays",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "countries": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/countries/{id}": {
            "get": {
                "tags": [
                    "Countries"
                ],
                "summary": "Récupérer un pays par ID",
                "operationId": "c172dfb1b3785a376f52b0f46f344f20",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID du pays",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Détails du pays",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "country": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Pays non trouvé"
                    }
                }
            }
        },
        "/api/languages": {
            "get": {
                "tags": [
                    "Languages"
                ],
                "summary": "Lister toutes les langues",
                "operationId": "1cb1ddff581b67412e8c4d53e8a5286d",
                "parameters": [
                    {
                        "name": "active_only",
                        "in": "query",
                        "description": "Afficher seulement les langues actives",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Liste des langues",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "languages": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/languages/{id}": {
            "get": {
                "tags": [
                    "Languages"
                ],
                "summary": "Récupérer une langue par ID",
                "operationId": "0f580519be224b9e58ceae07113528c8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la langue",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Détails de la langue",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "language": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Langue non trouvée"
                    }
                }
            }
        },
        "/api/languages/default": {
            "get": {
                "tags": [
                    "Languages"
                ],
                "summary": "Récupérer la langue par défaut",
                "operationId": "0e6b8efde73a795079b0013889422368",
                "responses": {
                    "200": {
                        "description": "Langue par défaut",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "language": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Aucune langue par défaut définie"
                    }
                }
            }
        },
        "/api/lotteries": {
            "get": {
                "tags": [
                    "Lotteries"
                ],
                "summary": "Lister toutes les tombolas",
                "operationId": "9ea87e50016fca92c67526b0b1c981e0",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filtrer par statut",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "pending",
                                "active",
                                "completed",
                                "cancelled"
                            ]
                        }
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "description": "Filtrer par catégorie de produit",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "min_ticket_price",
                        "in": "query",
                        "description": "Prix minimum du ticket",
                        "required": false,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "max_ticket_price",
                        "in": "query",
                        "description": "Prix maximum du ticket",
                        "required": false,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "ending_soon",
                        "in": "query",
                        "description": "Tombolas se terminant dans les 24h",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Trier par",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "end_date_asc",
                                "end_date_desc",
                                "ticket_price_asc",
                                "ticket_price_desc",
                                "popularity"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Liste des tombolas"
                    }
                }
            }
        },
        "/api/lotteries/my-lotteries": {
            "get": {
                "tags": [
                    "Lotteries"
                ],
                "summary": "Lister mes tombolas en tant que merchant",
                "operationId": "f0c294755424c3b29cda99686bae0cf6",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filtrer par statut",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "pending",
                                "active",
                                "completed",
                                "cancelled"
                            ]
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Recherche par nom ou description",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Trier par",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "end_date_asc",
                                "end_date_desc",
                                "ticket_price_asc",
                                "ticket_price_desc",
                                "popularity"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Liste de mes tombolas"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/lotteries/active": {
            "get": {
                "tags": [
                    "Lotteries"
                ],
                "summary": "Tombolas actives",
                "operationId": "a24ac4021cb411c5255935d0cc5c93fb",
                "responses": {
                    "200": {
                        "description": "Tombolas actives"
                    }
                }
            }
        },
        "/api/lotteries/{id}": {
            "get": {
                "tags": [
                    "Lotteries"
                ],
                "summary": "Détails d'une tombola",
                "operationId": "fbb03768631c4ce3881e829c0b88da49",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la tombola",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Détails de la tombola"
                    }
                }
            }
        },
        "/api/lotteries/{id}/buy-ticket": {
            "post": {
                "tags": [
                    "Lotteries"
                ],
                "summary": "Acheter un ticket de tombola",
                "operationId": "ce2ff44ef1aca23589f45b6cd481b1a5",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la tombola",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "quantity": {
                                        "description": "Nombre de tickets",
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Ticket(s) acheté(s)"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/lotteries/{id}/my-tickets": {
            "get": {
                "tags": [
                    "Lotteries"
                ],
                "summary": "Mes tickets pour une tombola",
                "operationId": "91ac3d540c9f89d679fe367eeb01b08e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la tombola",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Mes tickets"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/lotteries/{id}/draw": {
            "post": {
                "tags": [
                    "Lotteries"
                ],
                "summary": "Effectuer le tirage d'une tombola (Admin/Merchant seulement)",
                "operationId": "a1e7277d52ec67123ce470184b911246",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la tombola",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tirage effectué"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/merchant/dashboard/stats": {
            "get": {
                "tags": [
                    "Merchant Dashboard"
                ],
                "summary": "Statistiques générales du marchand",
                "operationId": "c754b1d0be5e3a789da6e8e7eaaad57f",
                "responses": {
                    "200": {
                        "description": "Statistiques du dashboard",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "properties": {
                                                "total_products": {
                                                    "type": "integer"
                                                },
                                                "active_lotteries": {
                                                    "type": "integer"
                                                },
                                                "total_sales": {
                                                    "type": "number"
                                                },
                                                "tickets_sold": {
                                                    "type": "integer"
                                                },
                                                "revenue_this_month": {
                                                    "type": "number"
                                                },
                                                "growth_rate": {
                                                    "type": "number"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/merchant/dashboard/sales-chart": {
            "get": {
                "tags": [
                    "Merchant Dashboard"
                ],
                "summary": "Données pour le graphique des ventes",
                "operationId": "ce1e81ff612aa423b5f164244d2419cb",
                "parameters": [
                    {
                        "name": "period",
                        "in": "query",
                        "description": "Période (7d, 30d, 90d, 1y)",
                        "schema": {
                            "type": "string",
                            "default": "30d"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Données du graphique"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/merchant/dashboard/top-products": {
            "get": {
                "tags": [
                    "Merchant Dashboard"
                ],
                "summary": "Produits les plus vendus",
                "operationId": "5830bc882fffb2a314dddee057ed1880",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Nombre de produits",
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Liste des top produits"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/merchant/dashboard/recent-transactions": {
            "get": {
                "tags": [
                    "Merchant Dashboard"
                ],
                "summary": "Transactions récentes",
                "operationId": "e5c8a9536424885df81516e0786431c2",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Nombre de transactions",
                        "schema": {
                            "type": "integer",
                            "default": 20
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Transactions récentes"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/merchant/dashboard/lottery-performance": {
            "get": {
                "tags": [
                    "Merchant Dashboard"
                ],
                "summary": "Performance des tombolas",
                "operationId": "7790ae315489e9999a0fc7ce0f1e4d00",
                "responses": {
                    "200": {
                        "description": "Performance des tombolas"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/merchant/orders": {
            "get": {
                "tags": [
                    "Merchant Orders"
                ],
                "summary": "Récupérer les commandes du marchand avec filtres et pagination",
                "description": "Récupère la liste paginée des commandes du marchand connecté avec possibilité de filtrer par dates, statut, type et produit",
                "operationId": "45e4e2e6456aeb47a0b6aeb323870bc3",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Nombre d'éléments par page (max 100)",
                        "schema": {
                            "type": "integer",
                            "default": 15,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Numéro de page",
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "date_from",
                        "in": "query",
                        "description": "Date de début (YYYY-MM-DD)",
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2024-01-01"
                        }
                    },
                    {
                        "name": "date_to",
                        "in": "query",
                        "description": "Date de fin (YYYY-MM-DD)",
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2024-12-31"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filtrer par statut de la commande",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "pending",
                                "awaiting_payment",
                                "paid",
                                "failed",
                                "cancelled",
                                "fulfilled",
                                "refunded"
                            ]
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Filtrer par type de commande",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "lottery",
                                "direct"
                            ]
                        }
                    },
                    {
                        "name": "product_id",
                        "in": "query",
                        "description": "Filtrer par ID de produit",
                        "schema": {
                            "type": "integer",
                            "example": 123
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Recherche par numéro de commande, nom client ou email",
                        "schema": {
                            "type": "string",
                            "example": "ORD-123"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Trier par",
                        "schema": {
                            "type": "string",
                            "default": "created_at_desc",
                            "enum": [
                                "created_at_desc",
                                "created_at_asc",
                                "amount_desc",
                                "amount_asc",
                                "status"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Liste des commandes récupérée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "order_number": {
                                                        "type": "string",
                                                        "example": "ORD-67890ABCDE"
                                                    },
                                                    "type": {
                                                        "type": "string",
                                                        "example": "lottery"
                                                    },
                                                    "status": {
                                                        "type": "string",
                                                        "example": "paid"
                                                    },
                                                    "total_amount": {
                                                        "type": "number",
                                                        "format": "float",
                                                        "example": 5000
                                                    },
                                                    "currency": {
                                                        "type": "string",
                                                        "example": "XAF"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "paid_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "nullable": true
                                                    },
                                                    "customer": {
                                                        "properties": {
                                                            "name": {
                                                                "type": "string",
                                                                "example": "John Doe"
                                                            },
                                                            "email": {
                                                                "type": "string",
                                                                "example": "john@example.com"
                                                            },
                                                            "phone": {
                                                                "type": "string",
                                                                "example": "06123456"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "product": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Loterie Jackpot"
                                                            },
                                                            "image": {
                                                                "type": "string",
                                                                "example": "product.jpg"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "nullable": true
                                                    },
                                                    "payments_count": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "tickets_count": {
                                                        "type": "integer",
                                                        "example": 5
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "pagination": {
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "example": 15
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "example": 150
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "summary": {
                                            "properties": {
                                                "total_orders": {
                                                    "type": "integer",
                                                    "example": 150
                                                },
                                                "total_revenue": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 750000
                                                },
                                                "avg_order_value": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 5000
                                                },
                                                "status_breakdown": {
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié ou pas de rôle marchand",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/merchant/orders/export": {
            "get": {
                "tags": [
                    "Merchant Orders"
                ],
                "summary": "Exporter les commandes au format CSV",
                "description": "Génère et télécharge un fichier CSV contenant les commandes du marchand selon les filtres appliqués",
                "operationId": "b2a79bd79c65b16461bc641a7a80e673",
                "parameters": [
                    {
                        "name": "date_from",
                        "in": "query",
                        "description": "Date de début pour l'export",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "date_to",
                        "in": "query",
                        "description": "Date de fin pour l'export",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filtrer par statut",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
[...]
